@layout('layouts.main')

@section('title')
Sicky - This is the fullstack boilerplate for Node.js apps.
@endsection

@section('content')
  <section>
    <div class="logo"></div>
    <h1>Sicky</h1>
    <div class="subtitle"><p>This is the fullstack boilerplate for Node.js apps.</p></div>
  </section>
@endsection
